Fabric==1.10.1
backports.ssl-match-hostname==3.4.0.2
certifi==2015.04.28
ecdsa==0.13
paramiko==1.15.2
pbr==0.11.0
pip-tools==0.3.6
pycrypto==2.6.1
requests==2.7.0
six==1.9.0
tornado==4.1
yubico-client==1.9.1
