asn1crypto==0.23.0
backports-abc==0.5
backports.ssl-match-hostname==3.5.0.1
bcrypt==3.1.4
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
cryptography==1.9
enum34==1.1.6
Fabric==1.14.0
idna==2.6
ipaddress==1.0.18
paramiko==2.10.1
pyasn1==0.4.2
pycparser==2.18
pycrypto==2.6.1
requests==2.18.4
singledispatch==3.4.0.3
six==1.11.0
tornado==4.5.2
urllib3==1.22
yubico-client==1.10.0
